@{
    ViewBag.Title = "嗨购网";
}
<div class="indexDiv">

    <div id="col-sub">
        <div style="z-index: 15;" class="category">
            <h2 class="hdBox">
                <a href="@Url.Action("index","Category")" target="_blank"><strong class="hd">热门分类</strong></a>
            </h2>
            <div class="entity">

                <ul class="items">

                    <li>
                        <h3>
                            服装、内衣、配件 
                        </h3>
                        <p class="item-col">
                            <a href="/list/4/2.html" target="_blank">女装</a>
                            <a href="/list/7/8.html" target="_blank">男装</a>
                            <a href="/list/4/20/3.html" target="_blank">内衣</a>
                            <a href="/search/2KfRstid-c-1625.html" target="_blank">家居服</a>
                            <a href="/list/3/88/48989.html" target="_blank">配件</a>
                        </p>
                        <p class="item-col">
                            <a href="/list/3/88/48538.html" target="_blank">连衣裙</a>
                            <a href="/list/4/20/7.html" target="_blank">半身裙</a>
                            <a href="/list/3/88/88214.html" target="_blank">T桖</a>
                            <a href="/list/4/20/489.html" target="_blank">衬衫</a>
                            <a href="/list/4/20/442.html" target="_blank">雪纺</a>
                        </p>
                    </li>

                    <li id="cat_02" class="item J_MenuItem">
                        <h3>
                            鞋、箱包 <s class="menuIcon"></s>
                        </h3>
                        <p class="item-col">
                            <a href="/list/3/88/82597.html" target="_blank">女鞋</a><a href="/list/3/88/44198.html"
                                target="_blank">男鞋</a>
                        </p>
                        <p class="item-col">
                            <a href="/list/3/88/82590.html" target="_blank">箱包</a><a href="/search/ods-c-50012010.html"
                                target="_blank">女包</a><a href="/search/oKU-c-50012010.html" target="_blank">男包</a><a
                                    href="/search/r97Thg-c-50012010.html" target="_blank">双肩</a>
                        </p>
                    </li>
                    <li id="cat_03" class="item J_MenuItem">
                        <h3>
                            珠宝饰品、手表眼镜 <s class="menuIcon"></s>
                        </h3>
                        <p class="item-col">
                            <a href="/list/3/88/47529.html" target="_blank">饰品</a><a href="/list/3/88/47525.html"
                                target="_blank">项链</a><a href="/list/3/88/44761.html" target="_blank">珠宝</a><a href="/list/3/88/44765.html"
                                    target="_blank">钻石</a><a href="/list/3/88/83188.html" target="_blank">手表</a><a href="/list/3/88/48725.html"
                                        target="_blank">太阳镜</a>
                        </p>
                    </li>
                    <li id="cat_04" class="item J_MenuItem">
                        <h3>
                            化妆品 <s class="menuIcon"></s>
                        </h3>
                        <p class="item-col">
                            <a href="/list/4/58/4.html" target="_blank">护肤</a><a href="/list/3/88/44655.html"
                                target="_blank">男士</a><a href="/list/3/88/48155.html" target="_blank">彩妆</a><a href="/list/3/88/48543.html"
                                    target="_blank">香水</a><a href="/list/3/88/44657.html" target="_blank">美体</a><a href="/list/3/88/44660.html"
                                        target="_blank">精油</a>
                        </p>
                    </li>
                    <li id="cat_05" class="item J_MenuItem">
                        <h3>
                            运动、户外 <s class="menuIcon"></s>
                        </h3>
                        <p class="item-col">
                            <a href="/list/3/88/48755.html" target="_blank">运动鞋</a><a href="/list/3/88/44266.html"
                                target="_blank">运动服</a><a href="/search/t8u40Q-c-50010728.html" target="_blank">泳装</a><a
                                    href="/list/3/88/47552.html" target="_blank">户外装备</a>
                        </p>
                    </li>
                    <li id="cat_06" class="item J_MenuItem">
                        <h3>
                            手机、数码 <s class="menuIcon"></s>
                        </h3>
                        <p class="item-col">
                            <a href="/list/4/34/0.html" target="_blank">手机</a><a href="/list/4/48/4.html" target="_blank">笔记本</a><a
                                href="/list/4/9.html" target="_blank">相机</a><a href="/search/osjfhNqEqrA.html" target="_blank">平板电脑</a>
                        </p>
                        <p class="item-col">
                            <a href="/list/3/88/81045.html" target="_blank">配件</a><a href="/list/4/4.html" target="_blank">电脑硬件</a><a
                                href="/list/3/88/40429.html" target="_blank">移动存储</a><a href="/list/4/08/4.html"
                                    target="_blank">随身视听</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div id="col-main">
				<div id="m_center">
					<div id="DUOAO_Container" class="ms_container" style="position: relative; overflow: hidden;">
						<div id="DUOAO_Slider" style="position: absolute; top: -720px;">
                            <a target="_blank" href="/search/t4Wnv9id.html"><img width="520" height="240" src="http://d1.duoao.cn/style/moban1/ad/top01.jpg"></a>
							<a target="_blank" href="/search/oKWDq5NozUOe4VzzrKLC.html"><img width="520" height="240" src="http://d1.duoao.cn/style/moban1/ad/top02.jpg"></a>
							<a target="_blank" href="/search/292z3K62.html"><img width="520" height="240" src="http://d1.duoao.cn/style/moban1/ad/top03.jpg"></a>
							<a target="_blank" href="/search/JQUfDQo.html"><img width="520" height="240" src="http://d1.duoao.cn/style/moban1/ad/top04.jpg"></a>
							<a target="_blank" href="/search/KyYu-c-16.html"><img width="520" height="240" src="http://d1.duoao.cn/style/moban1/ad/top05.jpg"></a>
						</div>
						<span id="DUOAO_Num" class="ms_num">
                        <li class="">1</li><li class="">2</li><li class="">3</li><li class="on">4</li><li class="">5</li></span>
					</div>
					<div class="m_theme">
						<a target="_blank" href="/list/3/88/48538.html"><img width="90" height="135" alt="连衣裙2011时尚系列" src="http://d1.duoao.cn/style/moban1/index/m_theme01.png"></a>
						<a target="_blank" href="/list/4/58/4.html"><img width="90" height="135" alt="唤醒美白肌肤" src="http://d1.duoao.cn/style/moban1/index/m_theme02.png"></a>
						<a target="_blank" href="/list/3/88/82590.html"><img width="90" height="135" alt="新款包包8折全包" src="http://d1.duoao.cn/style/moban1/index/m_theme03.png"></a>
						<a target="_blank" href="/search/MKWb.html"><img width="90" height="135" alt="T恤新品" src="http://d1.duoao.cn/style/moban1/index/m_theme04.png"></a>
					</div>
				</div>
				<div id="m_right">
					<div class="dh">
						<h2>淘宝皇冠店铺</h2>
						<a target="_blank" href="/shop/CwYOp9imqNOLpaOe4Vzpj9PGwIU.html"><font color="#A462AE">淘宝No.1</font><em></em>淑女专场</a>
                         <a target="_blank" href="/shop/3t7Z3b2hp4Wzg9zN1oQ.html"><font color="#FF6600">韩版</font><em class="e6"></em>职场OL</a>
						<a target="_blank" href="/shop/DxQCDhUK.html"><font color="#40B31A">女装</font><em class="e1"></em>我的百分之一</a>
						<a target="_blank" href="/shop/qoKgy62d3Nk.html"><font color="#FF6600">爱靓一族</font><em class="e2"></em>西溪漫步</a>
						<a target="_blank" href="/shop/FxpCAgAMAg.html"><font color="#256EBE">"包"满意</font><em class="e3"></em>搜酷女包</a>
						<a target="_blank" href="/shop/0pHZhbul.html"><font color="#3A931B">母婴专卖</font><em class="e4"></em>朵朵云</a>
						<a target="_blank" href="/search/2IDYqw.html"><font color="#256EBE">Sou一下</font><em class="e5"></em>减肥瘦身</a>						
					</div>					
                                        <div class="ir_table">
			                   <div class="ir_title">网站公告</div>
			                   <div class="ir_content">
				&#12288;           亲，我们所有商品均来自淘宝网，根据用户好评度精挑细选出高品质的热销女装、男装、包包等最新折扣商品。让您放心的享受网上购物乐趣！			                   </div>
		                         </div>
				</div>
			</div>

    
    <div style="min-height: 100px; height: auto; _height: 100px;" class="h_one">
        <div class="tab_nav h_rec_nav">
            <dl>
                <dt class="th" is_over="0"><span>小编推荐</span></dt>
                <dd is_over="1" class="tab_light">
                    <a onclick="javascript:return false;" href="javascript:void(0);">最热门 HOT!</a><b class="arrow"></b></dd>
                <dd is_over="0" class="">
                    <a onclick="javascript:return false;" href="javascript:void(0);">新上线 NEW!</a><b class="arrow"></b></dd>
                <dd is_over="0" class="">
                    <a onclick="javascript:return false;" href="javascript:void(0);">名鞋包包</a><b class="arrow"></b></dd><dd
                        is_over="0"><a onclick="javascript:return false;" href="javascript:void(0);">数码家电</a><b
                            class="arrow"></b></dd><dd is_over="0"><a onclick="javascript:return false;" href="javascript:void(0);">美容化妆</a><b
                                class="arrow"></b></dd><dd is_over="0" class=""><a onclick="javascript:return false;"
                                    href="javascript:void(0);">团购返利</a><b class="arrow"></b></dd><dd class="last" is_over="0"><a
                                        onclick="javascript:return false;" href="javascript:void(0);">男女服饰</a><b class="arrow"></b></dd>
            </dl>
        </div>
        <!--end标签导航-->
        
        <div id="album_detail" class="w960 four_c">
            <div class="col">
                <div class="a_share">
                    <div class="hd"></div>
                    <div class="bd">
                    <div class="pinlun" style="padding:8px 12px 0;">
                        <div class="pic" style="width:200px;">                            
                            <a target="_blank" href="http://meili.51bi.com/goods/_bp_9568424/">
                                <img class="pic_b" src="@Url.Content("Content/Images/Product/94c4c119-e558-4e08-9e9d-511ac4be9290_200X300.jpg")" alt="秋冬新款    独特气质修身狐狸毛领修身毛呢大衣 外套" title="秋冬新款    独特气质修身狐狸毛领修身毛呢大衣 外套" original="http://ui.51bi.com/opt/siteimg/newsimg/mlk/2012/12/21/94c4c119-e558-4e08-9e9d-511ac4be9290_200X300.jpg">
                            </a>
                            <span class="p"><span><b>￥</b>580</span><i></i></span>
                        </div>
                        <div style="color:#666;">独特气质修身狐狸毛领修身毛呢大衣 </div>
                        <div class="fav mt5">
                            <span>秋冬长款外套</span>
							<a onclick="mod.lovePerson(this)" shareid="9568423" class="favaImg" href="javascript:;">喜欢</a>
							<div class="fav_num">
								<a class="favCount" target="_blank" href="http://meili.51bi.com/goods/_bp_9568424/">41</a>
								<i></i>
							</div>
							<span class="creply_num">(<a target="_blank" href="http://meili.51bi.com/goods/_bp_9568424/"><span id="comments">200</span></a>)</span>
							<a proid="9568424" class="creply_no_line" onclick="temp001(this);" href="javascript:;">评论</a>
						</div>
                    </div>

                    <div style="border-bottom:1px solid #DDDDDD;" class="clear mt10"></div>
                    <div class="in_album_list"></div>


                    </div>
                    <div class="ft"></div>
                </div>

                <div class="a_share">
				<div class="hd"></div>
				<div class="bd">
				<input type="hidden" value="9568402" class="shareid">
					<div class="pinlun" style="padding:8px 12px 0;">
						<div onmouseout="out(this)" onmouseover="move(this)" style="width:200px;" class="pic">
			            	<a target="_blank" href="http://meili.51bi.com/goods/_bp_9568403/"><img class="pic_b" src="Content/Images/Product/105ca503-a678-4365-ad3f-6da37f214a8e_200X282.jpg" alt="新年特惠复古显瘦丝绒刺绣木耳边上衣+半身裙 连衣裙 小黑裙" title="新年特惠复古显瘦丝绒刺绣木耳边上衣+半身裙 连衣裙 小黑裙" original="http://ui.51bi.com/opt/siteimg/newsimg/mlk/2012/12/21/105ca503-a678-4365-ad3f-6da37f214a8e_200X282.jpg" style="display: inline;"></a>
							<span class="p"><span><b>￥</b>109</span><i></i></span>
							<a onclick="mod.prod_add_album_Window(9568403,this)" class="add_to_album_btn" title="加入专辑" href="javascript:;" style="display: none;"></a>
						</div>
						
						<div style="color:#666;">复古显瘦丝绒刺绣木耳边上衣+半身裙</div>
						<div class="fav mt5">
							<a onclick="mod.lovePerson(this)" shareid="9568402" class="favaImg" href="javascript:;">喜欢</a>
							<div class="fav_num">
								<a class="favCount" target="_blank" href="http://meili.51bi.com/goods/_bp_9568403/">44</a>
								<i></i>
							</div>
							<span class="creply_num">(<a target="_blank" href="http://meili.51bi.com/goods/_bp_9568403/"><span id="comments">208</span></a>)</span>
							<a proid="9568403" class="creply_no_line" onclick="temp001(this);" href="javascript:;">评论</a>
						</div>
					</div>	
					<div style="display:none;" id="reply_body" class="rep_bd" type="cmt">
						<i class="tri_tip_r"></i>
						<div class="i_w_rep">
							<textarea style="color:#999999" onblur="if(!value){value=defaultValue;this.style.color='#999'}" onfocus="if(value==defaultValue){value='';this.style.color='#000'}" class="rep_cont" id="9568403">喜欢就说两句吧</textarea>
							<div class="i_w_pub clearfix">
								<a href="javascript:;"><img class="fl add_face" style="margin-top: 5px;" onclick="expression.show('9568403',this);" w="book_rpl" src="http://www.51bi.com/mlk/addLast/add_face_c.png" original="http://www.51bi.com/mlk/addLast/add_face_c.png"></a>
								<a onclick="showText(this);" class="pub fr" shareid="9568402" prodid="9568403" href="javascript:;" id="book_cmt_118llxy">发表</a>
							</div>
						</div>
					</div>	
					
					
						<div style="border-bottom:1px solid #DDDDDD;" class="clear mt10"></div>
					
						
					
					<div class="in_album_list">
					</div>					
					
					<div style="border-top:1px solid #fff;border-bottom:1px solid #DDDDDD;" class="bgf7f7f7 mt0 pb10">		
						<div class="userMsg">
					       <a target="_blank" onmouseover="userMsg(36001647,this);" onmouseout="remove_userMsg();" href="http://meili.51bi.com/u_36001647/">
	       					<img src="http://ui.51bi.com/opt/siteimg/attachfile/biuser/2012/05/d9317793-5b5e-43b6-82f1-69963a009fec.jpg" class="avt" original="http://ui.51bi.com/opt/siteimg/attachfile/biuser/2012/05/d9317793-5b5e-43b6-82f1-69963a009fec.jpg" style="display: block;">
					        </a>
					        <div class="user_info">
					            <a class="name mr5" href="http://meili.51bi.com/u_25914744/" target="_blank"> 6301218**@@qq.com</a>
					            <p class="share_info">
					            	不错
					            </p>
					        </div>
					    </div>	
					</div>
					
					<div style="border-top:1px solid #fff;border-bottom:1px solid #DDDDDD;" class="bgf7f7f7 mt0 pb10">		
						<div class="userMsg">
					       <a target="_blank" onmouseover="userMsg(33595108,this);" onmouseout="remove_userMsg();" href="http://meili.51bi.com/u_33595108/">
	       					<img src="http://ui.51bi.com/opt/siteimg/attachfile/biuser/2012/03/b7ffa075-f19a-408a-b64b-1c3a6f14d41f.jpg" class="avt" original="http://ui.51bi.com/opt/siteimg/attachfile/biuser/2012/03/b7ffa075-f19a-408a-b64b-1c3a6f14d41f.jpg" style="display: block;">
					        </a>
					        <div class="user_info">
					            <a class="name mr5" href="http://meili.51bi.com/u_25914744/" target="_blank"> ly85024*</a>
					            <p class="share_info">
					            	华丽.
					            </p>
					        </div>
					    </div>	
					</div>
					
					
					<div style="border-top:1px solid #fff; text-align: center; height:36px; line-height:36px;" class="bgf7f7f7 mt0">
						<a href="http://meili.51bi.com/goods/_bp_9568403/" class="C_666" target="_blank">查看全部208条评论...</a>
					</div>
					
				 </div>
				<div class="ft"></div>
			</div>

            </div>


            <div class="col">
                <div class="a_share">
                <div class="hd">
                </div>
                <div class="bd">
                    <input type="hidden" value="9568328" class="shareid">
                    <div class="pinlun" style="padding: 8px 12px 0;">
                        <div onmouseout="out(this)" onmouseover="move(this)" style="width: 200px;" class="pic">
                            <a target="_blank" href="http://meili.51bi.com/goods/_bp_9568330/">
                                <img class="pic_b" src="Content/Images/Product/d912517d-07ad-4baf-b57a-6d7a1039fa81_200X301.jpg"
                                    alt="新款好质量森女复古粗花呢娃娃领彼得潘领皮质拼接收腰长袖连衣裙" title="新款好质量森女复古粗花呢娃娃领彼得潘领皮质拼接收腰长袖连衣裙" original="http://ui.51bi.com/opt/siteimg/newsimg/mlk/2012/12/21/d912517d-07ad-4baf-b57a-6d7a1039fa81_200X301.jpg"></a>
                            <span class="p"><span><b>￥</b>125</span><i></i></span> <a href="javascript:;" onclick="mod.prod_add_album_Window(9568330,this)"
                                class="add_to_album_btn" title="加入专辑" style="display: none;"></a>
                        </div>
                        <div style="color: #666;">
                            复古粗花呢娃娃领彼得潘领皮质拼接收腰长袖连衣裙</div>
                        <div class="fav mt5">
                            <a onclick="mod.lovePerson(this)" shareid="9568328" class="favaImg" href="javascript:;">
                                喜欢</a>
                            <div class="fav_num">
                                <a class="favCount" target="_blank" href="http://meili.51bi.com/goods/_bp_9568330/">
                                    17</a> <i></i>
                            </div>
                            <span class="creply_num">(<a target="_blank" href="http://meili.51bi.com/goods/_bp_9568330/"><span
                                id="comments">41</span></a>)</span> <a proid="9568330" class="creply_no_line" onclick="temp001(this);"
                                    href="javascript:;">评论</a>
                        </div>
                    </div>
                    <div style="display: none;" id="reply_body" class="rep_bd" type="cmt">
                        <i class="tri_tip_r"></i>
                        <div class="i_w_rep">
                            <textarea style="color: #999999" onblur="if(!value){value=defaultValue;this.style.color='#999'}"
                                onfocus="if(value==defaultValue){value='';this.style.color='#000'}" class="rep_cont"
                                id="9568330">喜欢就说两句吧</textarea>
                            <div class="i_w_pub clearfix">
                                <a href="javascript:;">
                                    <img class="fl add_face" style="margin-top: 5px;" onclick="expression.show('9568330',this);"
                                        w="book_rpl" src="http://www.51bi.com/mlk/addLast/add_face_c.png" original="http://www.51bi.com/mlk/addLast/add_face_c.png"></a>
                                <a onclick="showText(this);" class="pub fr" shareid="9568328" prodid="9568330" href="javascript:;"
                                    id="book_cmt_118llxy">发表</a>
                            </div>
                        </div>
                    </div>
                    <div style="border-bottom: 1px solid #DDDDDD;" class="clear mt10">
                    </div>
                    <div class="in_album_list">
                    </div>
                    <div style="border-top: 1px solid #fff; border-bottom: 1px solid #DDDDDD;" class="bgf7f7f7 mt0 pb10">
                        <div class="userMsg">
                            <a target="_blank" onmouseover="userMsg(21768569,this);" onmouseout="remove_userMsg();"
                                href="http://meili.51bi.com/u_21768569/">
                                <img src="http://ui.51bi.com/opt/siteimg/attachfile/biuser/headimg/418.jpg" class="avt"
                                    original="http://ui.51bi.com/opt/siteimg/attachfile/biuser/headimg/418.jpg">
                            </a>
                            <div class="user_info">
                                <a class="name mr5" href="http://meili.51bi.com/u_25914744/" target="_blank">yishyun*</a>
                                <p class="share_info">
                                    不错
                                </p>
                            </div>
                        </div>
                    </div>
                    <div style="border-top: 1px solid #fff; border-bottom: 1px solid #DDDDDD;" class="bgf7f7f7 mt0 pb10">
                        <div class="userMsg">
                            <a target="_blank" onmouseover="userMsg(37210056,this);" onmouseout="remove_userMsg();"
                                href="http://meili.51bi.com/u_37210056/">
                                <img src="http://ui.51bi.com/opt/siteimg/attachfile/biuser/2012/08/98a57d0f-8615-4704-b38b-8c3f94f2de9b.jpg"
                                    class="avt" original="http://ui.51bi.com/opt/siteimg/attachfile/biuser/2012/08/98a57d0f-8615-4704-b38b-8c3f94f2de9b.jpg">
                            </a>
                            <div class="user_info">
                                <a class="name mr5" href="http://meili.51bi.com/u_25914744/" target="_blank">wang70*</a>
                                <p class="share_info">
                                    喜欢
                                </p>
                            </div>
                        </div>
                    </div>
                    <div style="border-top: 1px solid #fff; text-align: center; height: 36px; line-height: 36px;"
                        class="bgf7f7f7 mt0">
                        <a href="http://meili.51bi.com/goods/_bp_9568330/" class="C_666" target="_blank">查看全部41条评论...</a>
                    </div>
                </div>
                <div class="ft">
                </div>
            </div>

            <div class="a_share">
				<div class="hd"></div>
				<div class="bd">
				<input type="hidden" value="9565962" class="shareid">
					<div class="pinlun" style="padding:8px 12px 0;">
						<div onmouseout="out(this)" onmouseover="move(this)" style="width:200px;" class="pic">
			            	<a target="_blank" href="http://meili.51bi.com/goods/_bp_9565963/"><img class="pic_b" src="Content/Images/Product/0345e0e9-4376-4527-8109-455b6cf8c16e_200X300.jpg" alt="『Some Time』小香风 雪纺双色入西装~版型超赞啦~（5）" title="『Some Time』小香风 雪纺双色入西装~版型超赞啦~（5）" original="http://ui.51bi.com/opt/siteimg/newsimg/mlk/2012/12/21/0345e0e9-4376-4527-8109-455b6cf8c16e_200X300.jpg"></a>
							<span class="p"><span><b>￥</b>95</span><i></i></span>
							<a onclick="mod.prod_add_album_Window(9565963,this)" class="add_to_album_btn" title="加入专辑" href="javascript:;" style="display: none;"></a>
						</div>
						
						<div style="color:#666;">雪纺西装，等天热了败一件</div>
						<div class="fav mt5">
							<a onclick="mod.lovePerson(this)" shareid="9565962" class="favaImg" href="javascript:;">喜欢</a>
							<div class="fav_num">
								<a class="favCount" target="_blank" href="http://meili.51bi.com/goods/_bp_9565963/">19</a>
								<i></i>
							</div>
							<span class="creply_num">(<a target="_blank" href="http://meili.51bi.com/goods/_bp_9565963/"><span id="comments">16</span></a>)</span>
							<a proid="9565963" class="creply_no_line" onclick="temp001(this);" href="javascript:;">评论</a>
						</div>
					</div>	
					
					<div style="display:none;" id="reply_body" class="rep_bd" type="cmt">
						<i class="tri_tip_r"></i>
						<div class="i_w_rep">
							<textarea style="color:#999999" onblur="if(!value){value=defaultValue;this.style.color='#999'}" onfocus="if(value==defaultValue){value='';this.style.color='#000'}" class="rep_cont" id="9565963">喜欢就说两句吧</textarea>
							<div class="i_w_pub clearfix">
								<a href="javascript:;"><img class="fl add_face" style="margin-top: 5px;" onclick="expression.show('9565963',this);" w="book_rpl" src="http://www.51bi.com/mlk/addLast/add_face_c.png" original="http://www.51bi.com/mlk/addLast/add_face_c.png"></a>
								<a onclick="showText(this);" class="pub fr" shareid="9565962" prodid="9565963" href="javascript:;" id="book_cmt_118llxy">发表</a>
							</div>
						</div>
					</div>	
					
					
						<div style="border-bottom:1px solid #DDDDDD;" class="clear mt10"></div>
					
						
					
					<div class="in_album_list">
					</div>					
					
					<div style="border-top:1px solid #fff;border-bottom:1px solid #DDDDDD;" class="bgf7f7f7 mt0 pb10">		
						<div class="userMsg">
					       <a target="_blank" onmouseover="userMsg(25248274,this);" onmouseout="remove_userMsg();" href="http://meili.51bi.com/u_25248274/">
	       					<img src="http://ui.51bi.com/opt/siteimg/attachfile/biuser/headimg/406.jpg" class="avt" original="http://ui.51bi.com/opt/siteimg/attachfile/biuser/headimg/406.jpg">
					        </a>
					        <div class="user_info">
					            <a class="name mr5" href="http://meili.51bi.com/u_22636866/" target="_blank"> shuizhixin201*</a>
					            <p class="share_info">
					            	雪纺
					            </p>
					        </div>
					    </div>	
					</div>
					
					<div style="border-top:1px solid #fff;border-bottom:1px solid #DDDDDD;" class="bgf7f7f7 mt0 pb10">		
						<div class="userMsg">
					       <a target="_blank" onmouseover="userMsg(20075696,this);" onmouseout="remove_userMsg();" href="http://meili.51bi.com/u_20075696/">
	       					<img src="http://ui.51bi.com/opt/siteimg/attachfile/biuser/headimage.jpg" class="avt" original="http://ui.51bi.com/opt/siteimg/attachfile/biuser/headimage.jpg">
					        </a>
					        <div class="user_info">
					            <a class="name mr5" href="http://meili.51bi.com/u_22636866/" target="_blank"> sweetcub*</a>
					            <p class="share_info">
					            	看起来真心不错！！~
					            </p>
					        </div>
					    </div>	
					</div>
					
					
					<div style="border-top:1px solid #fff; text-align: center; height:36px; line-height:36px;" class="bgf7f7f7 mt0">
						<a href="http://meili.51bi.com/goods/_bp_9565963/" class="C_666" target="_blank">查看全部16条评论...</a>
					</div>
					
				</div>
				<div class="ft"></div>
			</div>
            </div>


            <div class="col">
                <div class="a_share">
                <div class="hd">
                </div>
                <div class="bd">
                    <input type="hidden" value="9567798" class="shareid">
                    <div class="pinlun" style="padding: 8px 12px 0;">
                        <div onmouseout="out(this)" onmouseover="move(this)" style="width: 200px;" class="pic">
                            <a target="_blank" href="http://meili.51bi.com/goods/_bp_9567806/">
                                <img class="pic_b" src="Content/Images/Product/64fe6ac3-60d4-4cf0-8651-2ea83489dc83_200X200.jpg"
                                    alt="糯米丸子 秋冬新款 韩版学院风百褶高腰毛呢裙半身裙短裙女 QZ158" title="糯米丸子 秋冬新款 韩版学院风百褶高腰毛呢裙半身裙短裙女 QZ158"
                                    original="http://ui.51bi.com/opt/siteimg/newsimg/mlk/2012/12/21/64fe6ac3-60d4-4cf0-8651-2ea83489dc83_200X200.jpg"></a>
                            <span class="p"><span><b>￥</b>120</span><i></i></span> <a onclick="mod.prod_add_album_Window(9567806,this)"
                                class="add_to_album_btn" title="加入专辑" href="javascript:;" style="display: none;">
                            </a>
                        </div>
                        <div style="color: #666;">
                            毛呢裙半身裙短裙</div>
                        <div class="fav mt5">
                            <a onclick="mod.lovePerson(this)" shareid="9567798" class="favaImg" href="javascript:;">
                                喜欢</a>
                            <div class="fav_num">
                                <a class="favCount" target="_blank" href="http://meili.51bi.com/goods/_bp_9567806/">
                                    9</a> <i></i>
                            </div>
                            <span class="creply_num">(<a target="_blank" href="http://meili.51bi.com/goods/_bp_9567806/"><span
                                id="comments">15</span></a>)</span> <a proid="9567806" class="creply_no_line" onclick="temp001(this);"
                                    href="javascript:;">评论</a>
                        </div>
                    </div>
                    <div style="display: none;" id="reply_body" class="rep_bd" type="cmt">
                        <i class="tri_tip_r"></i>
                        <div class="i_w_rep">
                            <textarea style="color: #999999" onblur="if(!value){value=defaultValue;this.style.color='#999'}"
                                onfocus="if(value==defaultValue){value='';this.style.color='#000'}" class="rep_cont"
                                id="9567806">喜欢就说两句吧</textarea>
                            <div class="i_w_pub clearfix">
                                <a href="javascript:;">
                                    <img class="fl add_face" style="margin-top: 5px;" onclick="expression.show('9567806',this);"
                                        w="book_rpl" src="http://www.51bi.com/mlk/addLast/add_face_c.png" original="http://www.51bi.com/mlk/addLast/add_face_c.png"></a>
                                <a onclick="showText(this);" class="pub fr" shareid="9567798" prodid="9567806" href="javascript:;"
                                    id="book_cmt_118llxy">发表</a>
                            </div>
                        </div>
                    </div>
                    <div style="border-bottom: 1px solid #DDDDDD;" class="clear mt10">
                    </div>
                    <div class="in_album_list">
                    </div>
                    <div style="border-top: 1px solid #fff; border-bottom: 1px solid #DDDDDD;" class="bgf7f7f7 mt0 pb10">
                        <div class="userMsg">
                            <a target="_blank" onmouseover="userMsg(24967276,this);" onmouseout="remove_userMsg();"
                                href="http://meili.51bi.com/u_24967276/">
                                <img src="http://ui.51bi.com/opt/siteimg/attachfile/biuser/headimage.jpg" class="avt"
                                    original="http://ui.51bi.com/opt/siteimg/attachfile/biuser/headimage.jpg">
                            </a>
                            <div class="user_info">
                                <a class="name mr5" href="http://meili.51bi.com/u_39128509/" target="_blank">sly0*</a>
                                <p class="share_info">
                                    不错
                                </p>
                            </div>
                        </div>
                    </div>
                    <div style="border-top: 1px solid #fff; border-bottom: 1px solid #DDDDDD;" class="bgf7f7f7 mt0 pb10">
                        <div class="userMsg">
                            <a target="_blank" onmouseover="userMsg(58485180,this);" onmouseout="remove_userMsg();"
                                href="http://meili.51bi.com/u_58485180/">
                                <img src="http://ui.51bi.com/opt/siteimg/attachfile/biuser/headimage.jpg" class="avt"
                                    original="http://ui.51bi.com/opt/siteimg/attachfile/biuser/headimage.jpg">
                            </a>
                            <div class="user_info">
                                <a class="name mr5" href="http://meili.51bi.com/u_39128509/" target="_blank">wmn81*</a>
                                <p class="share_info">
                                    不错
                                </p>
                            </div>
                        </div>
                    </div>
                    <div style="border-top: 1px solid #fff; text-align: center; height: 36px; line-height: 36px;"
                        class="bgf7f7f7 mt0">
                        <a href="http://meili.51bi.com/goods/_bp_9567806/" class="C_666" target="_blank">查看全部15条评论...</a>
                    </div>
                </div>
                <div class="ft">
                </div>
            </div>
                <div class="a_share">
                <div class="hd">
                </div>
                <div class="bd">
                    <input type="hidden" value="9565387" class="shareid">
                    <div class="pinlun" style="padding: 8px 12px 0;">
                        <div onmouseout="out(this)" onmouseover="move(this)" style="width: 200px;" class="pic">
                            <a target="_blank" href="http://meili.51bi.com/goods/_bp_9565388/">
                                <img class="pic_b" src="Content/Images/Product/b37ebbce-6dc7-4725-9094-1ab6049b2c9a_200X266.jpg"
                                    alt="森女小清新 复古精致钩花宽松 文艺范粗线麻花棒针毛衣 两色入 特" title="森女小清新 复古精致钩花宽松 文艺范粗线麻花棒针毛衣 两色入 特"></a>
                            <span class="p"><span><b>￥</b>89</span><i></i></span> <a onclick="mod.prod_add_album_Window(9565388,this)"
                                class="add_to_album_btn" title="加入专辑" href="javascript:;" style="display: none;">
                            </a>
                        </div>
                        <div style="color: #666;">
                            森系棒线毛衣
                        </div>
                        <div class="fav mt5">
                            <a onclick="mod.lovePerson(this)" shareid="9565387" class="favaImg" href="javascript:;">
                                喜欢</a>
                            <div class="fav_num">
                                <a class="favCount" target="_blank" href="http://meili.51bi.com/goods/_bp_9565388/">
                                    6</a> <i></i>
                            </div>
                            <span class="creply_num">(<a target="_blank" href="http://meili.51bi.com/goods/_bp_9565388/"><span
                                id="comments">6</span></a>)</span> <a proid="9565388" class="creply_no_line" onclick="temp001(this);"
                                    href="javascript:;">评论</a>
                        </div>
                    </div>
                    <div style="display: none;" id="reply_body" class="rep_bd" type="cmt">
                        <i class="tri_tip_r"></i>
                        <div class="i_w_rep">
                            <textarea style="color: #999999" onblur="if(!value){value=defaultValue;this.style.color='#999'}"
                                onfocus="if(value==defaultValue){value='';this.style.color='#000'}" class="rep_cont"
                                id="9565388">喜欢就说两句吧</textarea>
                            <div class="i_w_pub clearfix">
                                <a href="javascript:;">
                                    <img class="fl add_face" style="margin-top: 5px;" onclick="expression.show('9565388',this);"
                                        w="book_rpl" src="http://www.51bi.com/mlk/addLast/add_face_c.png"></a> <a onclick="showText(this);"
                                            class="pub fr" shareid="9565387" prodid="9565388" href="javascript:;" id="book_cmt_118llxy">
                                            发表</a>
                            </div>
                        </div>
                    </div>
                    <div style="border-bottom: 1px solid #DDDDDD;" class="clear mt10">
                    </div>
                    <div class="in_album_list">
                    </div>
                    <div style="border-top: 1px solid #fff; border-bottom: 1px solid #DDDDDD;" class="bgf7f7f7 mt0 pb10">
                        <div class="userMsg">
                            <a target="_blank" onmouseover="userMsg(19745471,this);" onmouseout="remove_userMsg();"
                                href="http://meili.51bi.com/u_19745471/">
                                <img src="http://ui.51bi.com/opt/siteimg/attachfile/biuser/headimg/1735.gif" class="avt">
                            </a>
                            <div class="user_info">
                                <a class="name mr5" href="http://meili.51bi.com/u_21886146/" target="_blank">吕华</a>
                                <p class="share_info">
                                    真显嫩!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div style="border-top: 1px solid #fff; border-bottom: 1px solid #DDDDDD;" class="bgf7f7f7 mt0 pb10">
                        <div class="userMsg">
                            <a target="_blank" onmouseover="userMsg(23733580,this);" onmouseout="remove_userMsg();"
                                href="http://meili.51bi.com/u_23733580/">
                                <img src="http://ui.51bi.com/opt/siteimg/attachfile/biuser/headimage.jpg" class="avt">
                            </a>
                            <div class="user_info">
                                <a class="name mr5" href="http://meili.51bi.com/u_21886146/" target="_blank">宝宝兔*</a>
                                <p class="share_info">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div style="border-top: 1px solid #fff; text-align: center; height: 36px; line-height: 36px;"
                        class="bgf7f7f7 mt0">
                        <a href="http://meili.51bi.com/goods/_bp_9565388/" class="C_666" target="_blank">查看全部6条评论...</a>
                    </div>
                </div>
                <div class="ft">
                </div>
            </div>

            </div>


            <div class="col">
                <div class="a_share">
                <div class="hd">
                </div>
                <div class="bd">
                    <input type="hidden" value="9566902" class="shareid">
                    <div class="pinlun" style="padding: 8px 12px 0;">
                        <div onmouseout="out(this)" onmouseover="move(this)" style="width: 200px;" class="pic">
                            <a target="_blank" href="http://meili.51bi.com/goods/_bp_9566903/">
                                <img class="pic_b" src="Content/Images/Product/164c484a-3439-4edb-8341-77cce4717384_200X200.jpg"
                                    alt="糖果雨 2012冬装新款优雅毛领花朵钉珠拼接网纱可拆棉衣棉服" title="糖果雨 2012冬装新款优雅毛领花朵钉珠拼接网纱可拆棉衣棉服" original="http://ui.51bi.com/opt/siteimg/newsimg/mlk/2012/12/21/9b705093-9b78-4e52-b305-4c64be5bd8fa_200X225.jpg"></a>
                            <span class="p"><span><b>￥</b>376</span><i></i></span> <a onclick="mod.prod_add_album_Window(9566903,this)"
                                class="add_to_album_btn" title="加入专辑" href="javascript:;" style="display: none;">
                            </a>
                        </div>
                        <div style="color: #666;">
                            紫色是非常明亮，梦幻的紫色</div>
                        <div class="fav mt5">
                            <a onclick="mod.lovePerson(this)" shareid="9566902" class="favaImg" href="javascript:;">
                                喜欢</a>
                            <div class="fav_num">
                                <a class="favCount" target="_blank" href="http://meili.51bi.com/goods/_bp_9566903/">
                                    7</a> <i></i>
                            </div>
                            <span class="creply_num">(<a target="_blank" href="http://meili.51bi.com/goods/_bp_9566903/"><span
                                id="comments">6</span></a>)</span> <a proid="9566903" class="creply_no_line" onclick="temp001(this);"
                                    href="javascript:;">评论</a>
                        </div>
                    </div>
                    <div style="display: none;" id="reply_body" class="rep_bd" type="cmt">
                        <i class="tri_tip_r"></i>
                        <div class="i_w_rep">
                            <textarea style="color: #999999" onblur="if(!value){value=defaultValue;this.style.color='#999'}"
                                onfocus="if(value==defaultValue){value='';this.style.color='#000'}" class="rep_cont"
                                id="9566903">喜欢就说两句吧</textarea>
                            <div class="i_w_pub clearfix">
                                <a href="javascript:;">
                                    <img class="fl add_face" style="margin-top: 5px;" onclick="expression.show('9566903',this);"
                                        w="book_rpl" src="http://www.51bi.com/mlk/addLast/add_face_c.png" original="http://www.51bi.com/mlk/addLast/add_face_c.png"></a>
                                <a onclick="showText(this);" class="pub fr" shareid="9566902" prodid="9566903" href="javascript:;"
                                    id="book_cmt_118llxy">发表</a>
                            </div>
                        </div>
                    </div>
                    <div style="border-bottom: 1px solid #DDDDDD;" class="clear mt10">
                    </div>
                    <div class="in_album_list">
                    </div>
                    <div style="border-top: 1px solid #fff; border-bottom: 1px solid #DDDDDD;" class="bgf7f7f7 mt0 pb10">
                        <div class="userMsg">
                            <a target="_blank" onmouseover="userMsg(20158555,this);" onmouseout="remove_userMsg();"
                                href="http://meili.51bi.com/u_20158555/">
                                <img src="http://ui.51bi.com/opt/siteimg/attachfile/biuser/headimg/2358.jpg" class="avt"
                                    original="http://ui.51bi.com/opt/siteimg/attachfile/biuser/headimg/2358.jpg">
                            </a>
                            <div class="user_info">
                                <a class="name mr5" href="http://meili.51bi.com/u_22047072/" target="_blank">浅舞知*</a>
                                <p class="share_info">
                                    不错
                                </p>
                            </div>
                        </div>
                    </div>
                    <div style="border-top: 1px solid #fff; border-bottom: 1px solid #DDDDDD;" class="bgf7f7f7 mt0 pb10">
                        <div class="userMsg">
                            <a target="_blank" onmouseover="userMsg(31686341,this);" onmouseout="remove_userMsg();"
                                href="http://meili.51bi.com/u_31686341/">
                                <img src="http://ui.51bi.com/opt/siteimg/attachfile/biuser/2011/12/9a948514-6cc0-4164-90a2-9b5d6219738b.jpg"
                                    class="avt" original="http://ui.51bi.com/opt/siteimg/attachfile/biuser/2011/12/9a948514-6cc0-4164-90a2-9b5d6219738b.jpg">
                            </a>
                            <div class="user_info">
                                <a class="name mr5" href="http://meili.51bi.com/u_22047072/" target="_blank">25769303**@@qq.com</a>
                                <p class="share_info">
                                    喜欢
                                </p>
                            </div>
                        </div>
                    </div>
                    <div style="border-top: 1px solid #fff; text-align: center; height: 36px; line-height: 36px;"
                        class="bgf7f7f7 mt0">
                        <a href="http://meili.51bi.com/goods/_bp_9566903/" class="C_666" target="_blank">查看全部6条评论...</a>
                    </div>
                </div>
                <div class="ft">
                </div>
            </div>

            <div class="a_share">
            <div class="hd">
            </div>
            <div class="bd">
                <input type="hidden" value="9565272" class="shareid">
                <div class="pinlun" style="padding: 8px 12px 0;">
                    <div onmouseout="out(this)" onmouseover="move(this)" style="width: 200px;" class="pic">
                        <a target="_blank" href="http://meili.51bi.com/goods/_bp_9565273/">
                            <img class="pic_b" src="Content/Images/Product/321f5c96-8786-4704-b40a-7076925d9147_200X300.jpg"
                                alt="特。2012圣诞新款原单高品质小鹿真丝连衣裙大牌百搭真丝连衣裙" title="特。2012圣诞新款原单高品质小鹿真丝连衣裙大牌百搭真丝连衣裙"></a>
                        <span class="p"><span><b>￥</b>448</span><i></i></span> <a onclick="mod.prod_add_album_Window(9565273,this)"
                            class="add_to_album_btn" title="加入专辑" href="javascript:;" style="display: none;">
                        </a>
                    </div>
                    <div style="color: #666;">
                        超有爱的小鹿印花连衣裙哦，真丝的材质，上身很显高贵气质。
                    </div>
                    <div class="fav mt5">
                        <a onclick="mod.lovePerson(this)" shareid="9565272" class="favaImg" href="javascript:;">
                            喜欢</a>
                        <div class="fav_num">
                            <a class="favCount" target="_blank" href="http://meili.51bi.com/goods/_bp_9565273/">
                                2</a> <i></i>
                        </div>
                        <span class="creply_num">(<a target="_blank" href="http://meili.51bi.com/goods/_bp_9565273/"><span
                            id="comments">3</span></a>)</span> <a proid="9565273" class="creply_no_line" onclick="temp001(this);"
                                href="javascript:;">评论</a>
                    </div>
                </div>
                <div style="display: none;" id="reply_body" class="rep_bd" type="cmt">
                    <i class="tri_tip_r"></i>
                    <div class="i_w_rep">
                        <textarea style="color: #999999" onblur="if(!value){value=defaultValue;this.style.color='#999'}"
                            onfocus="if(value==defaultValue){value='';this.style.color='#000'}" class="rep_cont"
                            id="9565273">喜欢就说两句吧</textarea>
                        <div class="i_w_pub clearfix">
                            <a href="javascript:;">
                                <img class="fl add_face" style="margin-top: 5px;" onclick="expression.show('9565273',this);"
                                    w="book_rpl" src="http://www.51bi.com/mlk/addLast/add_face_c.png"></a> <a onclick="showText(this);"
                                        class="pub fr" shareid="9565272" prodid="9565273" href="javascript:;" id="book_cmt_118llxy">
                                        发表</a>
                        </div>
                    </div>
                </div>
                <div style="border-bottom: 1px solid #DDDDDD;" class="clear mt10">
                </div>
                <div class="in_album_list">
                </div>
                <div style="border-top: 1px solid #fff; border-bottom: 1px solid #DDDDDD;" class="bgf7f7f7 mt0 pb10">
                    <div class="userMsg">
                        <a target="_blank" onmouseover="userMsg(25287506,this);" onmouseout="remove_userMsg();"
                            href="http://meili.51bi.com/u_25287506/">
                            <img src="http://ui.51bi.com/opt/siteimg/attachfile/biuser/2012/01/5f526498-9c67-4f66-bdde-0c969263130f.jpg"
                                class="avt">
                        </a>
                        <div class="user_info">
                            <a class="name mr5" href="http://meili.51bi.com/u_48607168/" target="_blank">shalogisti**@@gmail.com</a>
                            <p class="share_info">
                                不错
                            </p>
                        </div>
                    </div>
                </div>
                <div style="border-top: 1px solid #fff; border-bottom: 1px solid #DDDDDD;" class="bgf7f7f7 mt0 pb10">
                    <div class="userMsg">
                        <a target="_blank" onmouseover="userMsg(21407637,this);" onmouseout="remove_userMsg();"
                            href="http://meili.51bi.com/u_21407637/">
                            <img src="http://ui.51bi.com/opt/siteimg/attachfile/biuser/2011/12/15c1ee48-b53e-4139-9b8a-becc901e51d6.jpg"
                                class="avt">
                        </a>
                        <div class="user_info">
                            <a class="name mr5" href="http://meili.51bi.com/u_48607168/" target="_blank">fenfang06**@@yahoo.com.cn</a>
                            <p class="share_info">
                                不错
                            </p>
                        </div>
                    </div>
                </div>
                <div style="border-top: 1px solid #fff; text-align: center; height: 36px; line-height: 36px;"
                    class="bgf7f7f7 mt0">
                    <a href="http://meili.51bi.com/goods/_bp_9565273/" class="C_666" target="_blank">查看全部3条评论...</a>
                </div>
            </div>
            <div class="ft">
            </div>
        </div>
            </div>

        </div>

    </div>

</div>
